body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.profile-section {
    flex: 0 0 45%; /* Adjust width as needed */
}

#order-history {
    flex: 0 0 45%; /* Adjust width as needed */
}

section {
    margin-bottom: 30px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 0; /* Remove default margin */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

img {
    border-radius: 50%; /* Make profile picture round */
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}


/* Hide the popup section by default */
.popup-section {
    display: none;
}

/* Style for the popup button */
.popup-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-btn:hover {
    background-color: #555;
}

/* Style for the popup content */
.popup-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.order_box{
    display: flex;
    flex-direction: row!important;
    margin-bottom: 20px;
    height: 100px;
    justify-content: space-between;
}
img{
    /* width: 150px;
    height: 150px;
    /* padding-bottom: 20px; */
    overflow: hidden;
    object-fit: cover;
}
.order-info{
    margin-top: 20px;
}