*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
ol, ul{
    padding:0px;
}
.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
}
.left{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    min-height: 100vh;
    background-color: #0056b3 ;
    align-items: center;
    justify-content: center;
    color: white;
}
.left nav ul li{
    margin: 40% 0;
    list-style-type: none;
    border-bottom: #EEE3CB 2px solid;
    border-top: #EEE3CB 2px solid;
    padding: 10px 20px;
}

.left nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}
.admin-name{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}
.left nav ul li a::after{
    content:"";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.right{
    display: flex;
    flex-direction: column !important;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 20px;
}

#productChartmain-container {
width: 400px; /* Adjust the width as needed */
height: 300px; /* Adjust the height as needed */
margin: 20px;
}

/* CSS for the second div */
#pendingOrdersmain-container {
    margin-top: 10px; /* Adjust the margin-top as needed */
}

/* table, th, td {
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
} */
.delivered {
    background-color: lightgreen;
}
h1{
    font-size: 30px;
}
#productChart{
    margin: 10px;
}
.table{
    margin: 15px;
}
.completeorder {
    width: ;
}